/* You can add custom styles here. */

// @import "plugins/numbered";
// @import "plugins/scrollbars";


.book-columns{
  align-items: center;
  @media (max-width: 576px){
    flex-direction: column;
  }
}

.navigation{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2rem 0;
}
